block scripts

  header#header
   h1#site-name
   a(href="/") Event Planner
   nav#nav
    ul.menu 
     li 
      .navMenu
      a(href="/") Home
     li 
      a(href="about") Tutor 
     li 
      a(href="application") Contact us